version: '2'

services:

  #  The Application
  app:
    container_name: withv8js_dir
    build:
      context: ./
      dockerfile: development/app.dockerfile
    volumes:
      - ./:/var/www
      - ./storage:/var/www/storage
    env_file: '.env.prod'
    environment:
      - "DB_HOST=database"
      - "REDIS_HOST=cache"

# The Web Server
  web:
    container_name: withv8js_http
    build:
      context: ./
      dockerfile: development/web.dockerfile
    volumes:
      - ./:/var/www
      - ./storage/logs/:/var/log/nginx
    ports:
      - 8002:80